---
---
<html>
    <head>
        <title>RoVer: Roblox Verification Discord Bot</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto:300" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    </head>
    <body>
        {{ content }}
    </body>
</html>
